<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Bogklub&trade; bøger</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="book.ico">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <% @categories.each do |category| %>
          <div class="col-xs-12" style="margin-top: 3rem;">
            <div class="panel panel-default panel-<%= category[:color] %>">
              <div class="panel-heading">
                <div class="panel-title"><%= category[:title] %></div>
              </div>

              <table class="table">
                <thead>
                  <tr>
                    <th colspan="2">Title</th>
                    <th>Author</th>
                    <% unless category[:key] == 'to-read' %>
                    <th>Date chosen</th>
                    <% end %>
                    <% if category[:key] == 'read' %>
                    <th>Date discussed</th>
                    <% end %>
                  </tr>
                </thead>
                <tbody>
                  <% @shelves[category[:key]].each do |book| %>
                    <tr>
                      <td>
                        <img src="<%= book[:img] %>">
                      </td>
                      <td>
                        <a href="http://www.goodreads.com<%= book[:link] %>">
                          <%= book[:title] %>
                        </a>
                      </td>
                      <td>
                        <a href="http://www.goodreads.com<%= book[:author_link] %>">
                          <%= book[:author] %>
                        </a>
                      </td>
                      <% unless category[:key] == 'to-read' %>
                        <td><%= book[:date_chosen] %></td>
                      <% end %>
                      <% if category[:key] == 'read' %>
                        <td><%= book[:date_discussed] %></td>
                      <% end %>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
